<!-- /templates/page.liquid -->
<div class="wrapper page-margin">
  <div class="grid">
    <div class="grid__item one-whole">
      <h2 class="text-center">{{ page.title }}</h2>
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>