<div class="tl-wrapper">
  <div class="row row-fullwidth row-80-height tl-about-section-1">
  </div>
  <div class="row row-neg-y-40px text-center">
    <img src="{{ 'ambition-frees-us.png' | asset_url }}" width="700px" />
  </div>

</div>
